body {
    background-color: pink;
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex_item{
    margin-top: 2rem;
}

.game_title {
    color: purple;
}

.image {

    width: 50%;
    height: 50%;
}

.play_button {
    background-color: blanchedalmond;
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    color: #345ceb;
    font-weight: bolder;
}