body {
    background-color: pink;
}

.footer{
    font-style: italic;
}

.footer p{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex_item{
    margin-top: 2rem;
}

.game_title {
    font-size: 4rem;
    color: purple;
}

#image {

    width: 40%;
    height: 40%;
}

.play_button {
    background-color: blanchedalmond;
    border: none;
    padding: 1rem 2rem;
    color: #345ceb;
    font-weight: bolder;
}

.play_button:hover{
    background-color: aliceblue;
}