body {
    margin: auto;
    padding:auto;
    background-color: pink;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex_item{
    margin-top: 2rem;
}

.game_title {
    font-size: 4rem;
    color: purple;
}

#image {

    width: 40%;
    height: 40%;
}

#play_button, .navigation_buttons {
    background-color: blanchedalmond;
    text-decoration:none;
    border: none;
    padding: 1rem 2rem;
    color: #05175a;
    font-weight: bolder;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#play_button:hover, .navigation_buttons:hover{
    background-color: aliceblue;
}



footer{
    position: absolute;
    margin-top: auto;
    bottom:0;
    font-style: italic;
    text-align: center;
    width:100%;
}